<h1><%= @bike.name %></h1>
<h5>$<%= @bike.price %></h5>
<h5>Discription: <%= @bike.discription %></h5>
<h5>Condition: <%= @bike.condition %></h5>
<h5>Type: <%= @bike.type %></h5>
<h5>Size: <%= @bike.size %></h5>