<h1><%= @bike.name %></h1>
<%= cl_image_tag(@bike.image.key, crop: :scale, width: 700, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) if @bike.image.attached? %>
<h5>$<%= @bike.price %></h5>
<h5>Brand: <%= @bike.brand.brand_name %></h5>
<h5>Condition: <%= @bike.condition %></h5>
<h5>Type: <%= @bike.bike_type %></h5>
<h5>Size: <%= @bike.size %></h5>
<h5>Discription: <%= @bike.discription %></h5>
<% if policy(@bike).edit_or_destroy? %>
  <div class="btn-toolbar mt-3">
    <%= link_to('Edit', edit_bike_path(@bike), class: 'btn btn-outline-warning me-2') if policy(@bike).update? %>
    <%= button_to('Delete', @bike, class: 'btn btn-outline-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@bike.name}' ?" }}) if policy(@bike).destroy? %>
  </div>
<% end %>
